*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);
}

.container{
    width:700px;
    max-width:95%;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

#taskInput{
    flex:1;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.input-section button{
    background:#4CAF50;
    color:white;
}

ul{
    margin-top:20px;
    list-style:none;
}

li{
    background:#f5f5f5;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    margin-left:5px;
}

.complete-btn{
    background:#28a745;
    color:white;
}

.edit-btn{
    background:#ffc107;
}

.delete-btn{
    background:#dc3545;
    color:white;
}